::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }

body {
	background-color: #fff;
	margin: 0px;
	font: 13px/20px normal Helvetica, Arial, sans-serif;
	color: #4F5155;
	padding: 0;
}

a {
	color: #003399;
	background-color: transparent;
	font-weight: normal;
}

#content h1 {
	color: #444;
	border-bottom: 1px solid #D0D0D0;
	font-size: 19px;
	font-weight: normal;
	margin: 0 0 14px 0;
	padding: 14px 15px 10px 15px;
}

code {
	font-family: Consolas, Monaco, Courier New, Courier, monospace;
	font-size: 12px;
	background-color: #f9f9f9;
	border: 1px solid #D0D0D0;
	color: #002166;
	display: block;
	margin: 14px 0 14px 0;
	padding: 12px 10px 12px 10px;
}

footer {
	float: left;
	width: 100%;
	text-align: right;
	font-size: 11px;
	border-top: 1px solid #D0D0D0;
	line-height: 32px;
	margin: 20px 0 0 0;
}

#container {
	margin: 0px;
	width:100%;
}

#header ul{
	margin: 0px;
	padding: 10px 0 10px 0;
	list-style-type: none;
	background-color: #48186d;
}

#header li a {
	display: inline;
	color: #ffffff;
	padding-left: 16px;
	text-decoration: none;
}

@media  (min-width: 640px) and (max-width: 1300px) {
	#navigation {
		float: left;
		width: 20%;
	}

	#content {
		float: right;
		width: 80%;
	}
}

@media (min-width:1300px) {
	#navigation {
		float: left;
		width: 15%;
	}

	#content{
		float: right;
		width: 85%;
	}
}

#navigation ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
}

#navigation li a {
	display: block;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

#navigation li a.active {
	background-color: #6326a5;
	color: white;
}

#navigation li a:hover:not(.active) {
	background-color: #767676;
	color: white;
}

#title{

}

#body {
	margin: 0 15px 0 15px;
}

#button{
	margin-right: 5px;
	font-family: 'Arial', sans-serif;
	font-size:14px;
	color: #ffffff;
	border: solid 1px #6326a5;
	background: #6326a5;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0,0,0,.4);
	-webkit-border-radius: .15em;
	-moz-border-radius: .15em;
	border-radius: .15em;
	padding: .3em 1em .3em;
}

#button:hover{
	background-color: #541483;
}